{% extends 'base.html' %}

{% block title %}用户中心{% endblock title %}


{% block search_bar %}
    <div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{% block btitle %}用户中心{% endblock btitle %}</div>
		<div class="search_con fr">
			<form action="/search/" method="get">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
	</div>
{% endblock search_bar %}

{% block body %}
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="/user/" {% if page == 'user' %}class="active"{% endif %} >· 个人信息</a></li>
                <li><a href="/user/order/" {% if page == 'order' %}class="active"{% endif %}>· 全部订单</a></li>
                <li><a href="/user/address/" {% if page == 'addr' %}class="active"{% endif %}>· 收货地址</a></li>
            </ul>
        </div>
    {#  实际内容 有待重写   #}
    {% block content %}{% endblock content %}

    </div>

{% endblock body %}